.nav{
	
	&__{
        &bar{
            @extend .b-grid_row;
            align-items: flex-end;
            flex-direction: column;
            justify-content: center;
            
            position: fixed 0 0 *;
            z-index: 300;
            height: $header__height;
            
            transition: $duration;
            
            // mods
            &:not(._active){
                visibility: hidden;
                opacity: 0;
            }
            .g-page._side_open &{
                margin-left: -24%;
                
                @media (--tablet-less){
                    margin-left: -250px;
                }
            }
            
            // elements
            &:before{
                content: '';
            }
            &:after{
                content: '';
                position: absolute 0;
                z-index: -10;
                
                background: color(white a(.8));
            }
        }
        &toggle{
            box-sizing: content-box;
            width: 30px;
            height: 2px;
            padding: 10px 0;
            margin: 0 10px;
            
            background-color: $color__gray;
            background-clip: content-box;
            cursor: pointer;
            
            position: relative;
            z-index: 1000;
            
            &:before,
            &:after{
                content: '';
                position: absolute * * * 0;
                size: 100% 2px;
                
                background-color: $color__gray;
            }
            &:after{
                top: 0;
            }
            &:before{
                bottom: 0;
            }
        }
        &menu{
            position: fixed 0 0 0 *;
            width: 24%;
            padding: 5% 0;
            
            background: color(black a(.1));
            transition: $duration;
            
            @media (--tablet-less) {
                min-width: 250px;
            }
            
            // mods
            .g-page:not(._side_open) &{
                transform: translateX(100%);
            }
            
            // elements
            &-{
                &item{
                    display: block;
                    margin: 0 0 1em;
                    
                    font-size: 110%;
                    
                    text-align: center;
                    text-transform: uppercase;
                    color: black;
                    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        &close{
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-family: arial;
            font-size: 200%;
            font-weight: 700;
            transform: rotate(45deg);
            color: color(black a(.8));
            cursor: pointer;
        }
        &form{
            position: relative;
        }
        &form-placehold{
            display: flex;
            align-items: center;
            position: absolute 50% * * 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
            
            font-size: 110%;
            text-transform: uppercase;
            color: color(black a(.5));
        }
        &icon{
            size: 20px;
            margin-right: 10px;
        }
        &input:focus + &form-placehold{
            display: none;
        }
        &input{
            width: 100%;
            padding: 0 2rem;
            outline: none;
            
            &:focus::placeholder{
                color: transparent;
            }
            &:hover{
                text-decoration: none;
            }
        }
	}
}