<div class="nav">
    <div class="nav__bar">
        <div class="nav__toggle"></div>
    </div>
    <div class="nav__menu">
        <div class="nav__close">+</div>
        <form action="/search" class="nav__form">
            <input type="text" name="text" class="nav__input nav__menu-item">
            <div class="nav__form-placehold">
                <svg class="nav__icon">
                    <use xlink:href="#search"/>
                </svg>
                Search
            </div>
        </form>
        <a href="#" class="nav__menu-item">Share your story</a>
    </div>
</div>