<div class="g-errors">
	<div class="g-errors__item g-errors__nojs">Для корркетного отображения сайта включите JavaScript!</div>
	<div class="g-errors__item g-errors__popup g-errors__old">
		Для корркетного отображения сайта обновите браузер:<br>
		<a href="http://www.google.com/chrome/" target="_blank" class="g-errors__logo _chrome"></a>
		<a href="http://www.mozilla.org/firefox/" target="_blank" class="g-errors__logo _firefox"></a>
	</div>
</div>