.g-errors{
	
	/*elements*/
	&__{
        &item{
            display: none;
            position: fixed;
            z-index: 10000;
            top: 0;
            right: 0;
            left: 0;
            box-sizing: border-box;
            background: #d63f3f;
            padding: 0 20px;
            text-align: center;
            font-family: arial;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            opacity: 1;
        }
        &popup{
            bottom: 0;
            padding: 10% 0;
        }
        &logo{
            size: 100px;
            outline: 0;
            border: 0;
            margin: 20px;
            opacity: .8;
            
            &._firefox{
                background-image: url(../images/firefox.png);
            }
            &._chrome{
                background-image: url(../images/chrome.png);
            }
            &:hover{
                opacity: 1;
            }
        }
        &old{
            .u-support_no-csstransforms &,
            .u-support_no-csscalc &,
            .u-support_no-flexbox &
            {
                display: block;
            }
        }
    }
	.u-support_no-flexbox .g-page > :not(&){
		display: none;
	}
}