.button{
    
    min-width: 200px;
    padding: .5em 1em;
    
    letter-spacing: 1px;
    
    text-align: center;
    border-radius: 1em;
	
	// mods
    &_default{
        @extend .button;
        background: var(--color);
        color: $color__white;
    }
    &_empty{
        @extend .button;
        
        border: 1px solid $color__primary;
        color: $color__primary;
    }
}