.author{
    @extend .section;
    
    padding: 2rem 0;
    
    text-align: center;
    background: #fafafa;
	
	// elements
	&__{
		&content{
            @extend .section__content;
            @extend .b-grid_row;
            align-items: center;
            
            padding: 0 10%;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &more{
            color: $color__font_light;
        }
        a&follow{
            display: inline-block;
            min-width: 160px;
            font-size: $font__small;
            
            margin-top: 1.5rem;
        }
        &preview{
            min-width: 105px;
            white-space: nowrap;
            
            @media (--tablet-more) {
                margin-right: 2rem;
            }
            @media (--tablet-less) {
                margin-bottom: 1rem;
            }
        }
        &image{
            min-width: 105px;
            border-radius: 50%;
        }
        &name{
            color: $color__primary;
        }
        &joined{
            font-size: $font__small;
            
            color: $color__font_light;
        }
        &info{
            font-size: calc($font__small + 2px);
        }
	}
}