<div class="author">
    <div class="author__content">
        <div class="author__preview">
            <img src=":105x105" alt="" class="author__image">
            <div class="author__name">Lorem ipsum.</div>
            <time class="author__joined">Joined Sept 2015</time>
        </div>
        <div class="author__more">
            <div class="author__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nam.</div>
            <!--<a href="#" class="author__follow button_empty">FOLLOW</a>-->
        </div>
    </div>
</div>