.footer{
    
    align-items: flex-end;
    
    // height: 20vh;
    min-height: 150px;
    padding: 2rem 0;
    margin: 5rem 0 0;
    
    text-align: center;
    background: $color__primary;
    color: white;
    
    .author + &,
    .typeform-article + &{
        margin-top: 0;
    }
}