.g-page{
    min-height: 100vh;
    
    font-size: $font__size;
    font-family: $font__family;
    
    transition: $duration;
	
    position: relative;
    display: flex;
    flex-direction: column;
    
    &._side_open{
        margin-left: -24%;
            
        @media (--tablet-less) {
            margin-left: -250px;
        }
    }
}
.page-shareyourstory a[href$=shareyourstory]{
    display: none;
}