body{
    margin: 0;
}
a[class]{
    display: block;
    
    text-decoration: none;
}
input,
select,
button{
    padding: 0;
    border: 0;
    margin: 0;
    
    font-family: inherit;
    font-size: inherit;
    
    background: none;
    color: inherit;
}
*{
    max-width: 100%;
    box-sizing: border-box;
    
    &:before,
    &:after{
        box-sizing: border-box;
    }
}
iframe{
    border: 0;
}