.header{
    
    position: absolute 0 0 *;
    z-index: 200;
    
    transition: $duration;
    
    // mods
    // &._hidden{
    //     top: -$header__height;
    // }
    // &._fixed{
    //     background: color(white a(.9));
        
    //     &:after{
    //         content: '';
    //         position: absolute 0;
    //         filter: blur(2px);
    //         z-index: -1;
    //     }
    // }
    // &._fixed &__{
    //     &logo{
    //         filter: brightness(0);
    //     }
    //     &actions{
    //         @media (--tablet-less) {
                
    //             background: color(white a(.9));
        
    //             &:after{
    //                 content: '';
    //                 position: absolute 0;
    //                 filter: blur(2px);
    //                 z-index: -1;
    //             }
    //         }
    //     }
    //     &action{
    //         color: $color__font_light;
    //     }
    //     &search{
    //         border-color: $color__gray;
            
    //         svg{
    //             path{
    //                 fill: $color__gray;
    //             }
    //         }
    //     }
    //     &share{
    //         border: 2px solid $color__font_light;
    //         background: transparent;
    //     }
    // }
	
	// elements
	&__{
		&content{
            @extend .b-grid_row;
            
            align-items: center;
            
            width: 100%;
            max-width: calc($content + 60px * 2);
            height: $header__height;
            margin: 0 1rem;
            
            color: $color__white;
        }
        &logo{
            margin-top: -.25em;
            
            font-size: 40px;
            font-weight: 200;
            letter-spacing: 10px;
            
            text-transform: lowercase;
            color: #fff;
        }
        &actions{
            @extend .b-grid_row;
            
            @media (--tablet-less) {
                position: fixed $header__height 0 *;
                z-index: 20;
                
                padding: 0 0 1rem;
                
                &:not(._active) {
                    display: none;
                }
            }
        }
        &action{
            min-width: 10rem;
            padding: .25em .5em;
            margin-left: 1.5rem;
            
            font-size: 80%;
            line-height: 1.5;
            
            @media (--tablet-less) {
                min-width: auto;
                size: 50% 30px;
                margin: 0 1rem;
            }
        }
        &search{
            box-sizing: border-box;
            position: relative;
            border-color: $color__white;
            color: inherit;
            
            svg{
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                height: 19px;
                margin-bottom: 3px;
                margin-right: 1rem;
                
                path{
                    fill: #fff;
                }
            }
            
        }
        &form{
            display: inline-block;
            
            input{
                &:focus::placeholder{
                    color: transparent
                }
                &::placeholder{
                    color: #fff;
                }
            }
        }
        &input{
            width: 100%;
            max-width: 60px;
            font-family: $font__family;
            outline: none;
        }
        // &menu{
        //     box-sizing: content-box;
        //     width: 30px;
        //     height: 2px;
        //     padding: 10px 0;
            
        //     background-color: $color__gray;
        //     background-clip: content-box;
        //     cursor: pointer;
            
        //     position: relative;
            
        //     @media(--tablet-more){
        //         display: none;
        //     }
            
        //     &:before,
        //     &:after{
        //         content: '';
        //         position: absolute * * * 0;
        //         size: 100% 2px;
                
        //         background-color: $color__gray;
        //     }
        //     &:after{
        //         top: 0;
        //     }
        //     &:before{
        //         bottom: 0;
        //     }
        // }
        a&share{
            background: $color__white;
            color: #ed7722;
        }
	}
}