<div class="header section">
    <div class="header__content">
        <a href="#" class="header__logo">mystro</a>
        <div class="header__actions">
            <!--<script>
            (function() {
                var cx = '012552470471269175105:8rdponrx2aw';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
            </script>
            <gcse:search></gcse:search>-->
            <div class="header__action header__search button_empty">
                <svg>
                    <use xlink:href="#search"/>
                </svg>
                <form action="/search" class="header__form">
                    <input type="text" name="text" class="header__input" placeholder="Search">
                </form>
            </div>
            <a href="#" class="header__action header__share button_default">Share your story</a>
        </div>
        <!--<div class="header__menu"></div>-->
    </div>
</div>