$color__white: #fff;
$color__gray_light: #fafafa;
$color__gray_prelight: #9b9b9b;
$color__gray_dark: #262626;
$color__black: #000;

$color__greyish-brown: #4a4a4a;
$color__dusty-orange: #f57b23;
$color__aqua-green: #18d890;

$color__gray: $color__greyish-brown;
$color__primary: $color__dusty-orange;
$color__secondary: $color__aqua-green;
$color__text: $color__gray_dark;
$color__font_light: $color__gray_prelight;