.typeform{
    
    display: block;
    min-size: 100vw 100vh;
    margin-left: calc((-100vw + $content) / 2);
    
    position: relative;
    
    @media (--desktop-less) {
        margin-left: -2rem;
    }
	
	// elements
	&-widget{
        position: absolute 0;
    }
    &-article{
        .article__{
            &content,
            &text{
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}