.poster{
    
    @extend .b-grid_row;
    margin-left: 8px;
    
    @media (--desktop-less) {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
	
	// elements
	&__{
		&preview{
            @extend .post__preview;
            
            @media (--desktop-less) {
                margin-bottom: 2rem;
            }
            @media (--tablet-less) {
                height: 140px !important;
                margin-bottom: 3rem;
            }
        }
        &preview:hover &image{
            transform: scale(1.05);
        }
        &image{
            display: block;
            min-width: 435px;
            max-width: 435px;
            object-fit: cover;
            
            transition: .6s;
            
            @media (--desktop-less) {
                width: 100%;
            }
            @media (--tablet-less) {
                height: 140px !important;
                margin-bottom: 3rem;
                width: 280px;
                min-width: 280px;
                max-width: 280px; 
                height: auto;
            }
            
            &-wrap{
                @extend .post__image-wrap;
                height: 210px;
                
                @media (--tablet-less) {
                    height: 140px;
                }
                &:after{
                    content: none;
                }
            }
        }
        &label{
            @extend .post__label;
        }
        &time{
            @extend .post__time;
        }
        &author{
            @extend .post__author;
            
            position: absolute * * 0 -1rem;
            z-index: 20;
            transform: translateY(50%);
            
            min-width: 220px;
            justify-content: flex-start;
            padding: .25rem .5rem;
            
            background: $color__gray;
            color: $color__white;
            
            &-{
                &image{
                    @extend .post__author-image;
                }
                &name{
                    @extend .post__author-name;
                }
            }
        }
        &title{
            margin-bottom: 1.5rem;
            
            font-size: $font__big;
        }
        &content{
            @media (--desktop-more) {
                margin-left: 100px;
            }
        }
        &description{
            font-weight: 300;
        }
        &likes{
            display: inline-block;
            margin: 1.5rem 0 0;
            
            font-size: calc($font__small - 2px);
            
            text-transform: uppercase;
            
            &-{
                &preview{
                    border-radius: 50%;
                    
                    &:not(:last-child) {
                        margin-right: .5rem;
                    }
                    
                    &s{
                        margin: .5rem 0;
                    }
                }
                &more{
                    text-align: right;
                }
            }
        }
	}
}