<div class="poster">
    <div class="poster__preview">
        <a href="#" class="poster__image-wrap">
            <img src=":435x210" alt="" class="poster__image">
        </a>
        <div class="poster__label">Lorem</div>
        <div class="poster__author">
            <img src=":40x40" alt="" class="poster__author-image">
            <div class="poster__author-info">
                <div class="poster__author-name">Lorem ipsum.</div>
                <div class="poster__time">Today 5:30 PM</div>
            </div>
        </div>
    </div>
    <div class="poster__content">
        <div class="poster__title">Lorem ipsum.</div>
        <div class="poster__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis unde inventore rem sit consectetur totam!</div>
        <!--<div class="poster__likes">
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>-->
        <!--<div class="poster__likes">
            <div class="poster__likes-title">Liked by</div>
            <div class="poster__likes-previews">
                <img src=":40x40" alt="" class="poster__likes-preview" repeat="4">
            </div>
            <div class="poster__likes-more">+ 10 others</div>
        </div>-->
    </div>
</div>