.b-grid{
    
    display: flex;
    
    // mods
    &_row{
        @extend .b-grid;
        
        justify-content: space-between;
    }
    &_centred{
        @extend .b-grid;
        
        align-items: center;
        justify-content: center;
    }
	
	// elements
	&__{
		
	}
}