.intro{
    
    min-height: 400px;
    height: 30vh;
    padding-top: $header__height;
    
    color: $color__white;
    
    position: relative;
    overflow: hidden;
    
    @media (--desktop-less) {
        height: auto;
        padding-bottom: 3rem;
    }
    
    // elements
    &__bg{
        position: absolute 0;
        z-index: -10;
        
        background-image: url(../images/intro.png);
        background-position: center;
        background-size: cover;
        
        // filter: blur(6px);
    }
}