<div class="article">
    <div class="article__status">
        <div class="article__status-content">
            <div class="article__status-caption">
                <span class="article__status-value">0</span>% READ
            </div>
            <div class="article__status-read" style="width: 0%"></div>
        </div>
    </div>
    <img src=":1280x625" alt="" class="article__intro">
    <div class="section">
        <div class="article__content section__content">
            <div class="article__title">Lorem ipsum dolor sit amet.</div>
            <div class="article__author">
                <img src=":40x40" alt="" class="article__author-image">
                <div class="article__author-info">
                    <div class="article__author-name">Lorem ipsum.</div>
                    <div class="article__time">Friday, September 20th</div>
                </div>
            </div>
            <div class="article__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, in, officia quam earum ut optio! Aliquam vero excepturi, porro cumque hic eveniet, minus adipisci expedita labore ex blanditiis quis quidem?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, in, officia quam earum ut optio! Aliquam vero excepturi, porro cumque hic eveniet, minus adipisci expedita labore ex blanditiis quis quidem?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, in, officia quam earum ut optio! Aliquam vero excepturi, porro cumque hic eveniet, minus adipisci expedita labore ex blanditiis quis quidem?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, in, officia quam earum ut optio! Aliquam vero excepturi, porro cumque hic eveniet, minus adipisci expedita labore ex blanditiis quis quidem?</p>
            </div>
            <div class="article__footer">
                <a href="#">TAG</a>
                <a href="#">LIVES</a>
                  | SEPTEMBER 20TH, 2016
                <br>
                <a href="https://twitter.com/intent/tweet/?url=&text=&hashtags=" class="article__social">
                    <svg>
                        <use xlink:href="#social-facebook"/>
                    </svg>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=" class="article__social">
                    <svg>
                        <use xlink:href="#social-twitter"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>