.article{
    
	// elements
	&__{
        &time{
            @extend .post__time;
        }
        &author{
            @extend .post__author;
            
            &-{
                &info{
                    @extend .post__author-info;
                }
                &image{
                    @extend .post__author-image;
                }
                &name{
                    @extend .post__author-name;
                }
            }
        }
        
        &status{
            @extend .section;
            
            position: fixed 0 * * 50%;
            transform: translateX(-50%);
            z-index: 500;
            max-width: $content;
            width: calc(100% - 100px);
            
            height: $header__height;
            
            transition: $duration;
            
            overflow: hidden;
            
            // mods
            &:not(._active){
                opacity: 0;
                visibility: hidden;
            }
            .g-page._side_open &{
                margin-left: -30%;
                
                @media (--tablet-less){
                    margin-left: -250px;
                }
            }
            // .header:not(._hidden) + .article &{
            //     top: $header__height;
            // }
            
            // elemnts
            // &:after{
            //     content: '';
            //     position: absolute 0;
            //     background: color(white a(.8));
            //     z-index: -1;
            // }
            &-{
                &content{
                    @extend .section__content;
                    
                    height: 100%;
                    padding: 0;
                    
                    position: relative;
                }
                &read{
                    height: 100%;
                    
                    font-weight: 500;
                    font-size: calc($font__medium + 1px);
                    letter-spacing: 2px;
                    
                    text-align: center;
                    background: color($color__gray a(.1));
                    color: $color__gray;
                }
                &caption{
                    @extend .b-grid_centred;
                    
                    position: absolute 0;
                    height: 100%;
                }
            }
        }
		&intro{
            display: block;
            max-height: calc(100vh - 200px);
            width: 100%;
            height: auto;
            
            object-fit: cover;
        }
        &content{
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        &text{
            margin: 3rem 0;
            color: $color__text;
            font-size: calc($font__size + 1px);
            line-height: 33px;
            a{
                color: $color__dusty-orange;
            }
            p{
                color: $color__text;
            }
        }
        &title{
            margin: 0 0 3rem;
            
            font-size: $font__huge;
            font-weight: 500;
            letter-spacing: 3.5px;
        }
        &footer{
            
            font-size: calc($font__size + 1px);
            letter-spacing: 3px;
            
            text-align: center;
            text-transform: uppercase;
            color: $color__font_light;
            
            @media (--tablet-more) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            a{
                text-decoration: none;
                font-size: calc($font__size + 1px);
                color: $color__font_light;
                text-transform: uppercase;
            }
        }
        &footer a:not(&social){
            margin-right: .5em;
        }
        &social{
            
            display: inline-block !important;
            
            @media (--tablet-more) {
                margin-left: 1rem;
            }
            @media (--tablet-less) {
                margin: 1rem 0 0;
                
                &:not(:first-child){
                    margin-left: 1rem;
                }
            }
            
            svg{
                display: block;
                size: 26px;
                
                circle{
                    stroke: gray;
                }
                text,
                path{
                    fill: gray;
                }
            }
        }
	}
}