<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Mystro</title>
	<link rel="stylesheet" href="assets/css/screen.css">
	<link rel="shortcut icon" href="assets/images/favicon.png">
    <import src="modules/g-errors/g-errors_head.htm"></import>
	
	<script src="assets/js/async.app.js" async></script>
	<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5" defer></script>
	<!--<script src="//cse.google.com/cse.js?cx=012552470471269175105:8rdponrx2aw" defer></script>-->
	<script src="assets/js/defer.app.js" defer></script>
</head>