.post{
    
    margin-top: 70px;
    
    @media (--tablet-more) {
        max-width: 450px;
        width: 45%;
    }
    @media (--tablet-less) {
        width: 100%;
    }
    
	// elements
    &s{
        @extend .b-grid_row;
        flex-wrap: wrap;
        
        margin-top: -40px;
        
        @media (--tablet-less) {
            flex-direction: column;
        }
    }
	&__{
        &header{
            margin-bottom: 1rem;
            
            font-weight: 300;
        }
        &author{
            @extend .b-grid_row;
            
            align-items: center;
            
            &-{
                &image{
                    border-radius: 50%;
                    margin-right: .5rem;
                }
                &info{
                    flex: 1;
                }
                &name{
                    color: $color__primary;
                }
            }
        }
        &time{
            font-size: $font__small;
            color: $color__font_light;
        }
        &image{
            width: 100%;
            height: 100%;
            
            object-fit: cover;
            
            transition: calc($duration * 3);
            
        }
        &image-wrap{
            display: block;
            height: inherit;
            
            overflow: hidden;
            position: relative;
        
            &:after{
                content: '';
                position: absolute 0;
                z-index: 10;
                
                transition: calc($duration * 2);
            }
        }
		&preview{
            height: 220px;
            
            position: relative;
            
            @media (--tablet-less) {
                height: 160px;
            }
        }
        &preview:hover &image,
        &preview._hover &image{
            transform: scale(1.05);
            
            &-wrap:after{
                background: color(white a(.8));
            }
        }
        &preview:hover &description,
        &preview._hover &description{
            opacity: 1;
        }
        &description{
            @extend .b-grid_centred;
            
            position: absolute 0;
            z-index: 20;
            
            padding: 1rem;
            
            color: $color__gray;
            
            opacity: 0;
            transition: $duration;
        }
        &label{
            position: absolute 1rem -.5rem * *;
            z-index: 30;
            
            padding: .5rem;
            
            font-size: $font__tiny;
            letter-spacing: 3.8px;
            
            text-transform: uppercase;
            background: $color__gray;
            color: $color__white;
        }
        &footer{
            padding: .5rem 1rem;
            padding-right: 6rem;
            
            font-size: $font__medium;
            
            background: $color__gray_light;
            color: $color__gray;
            
            position: relative;
        }
        &subtitle{
            font-weight: 200;
        }
        &likes{
            position: absolute .5rem 1rem * *;
            
            font-size: $font__small;
            
            color: $color__font_light;
            
            &:before{
                content: '';
            }
        }
	}
}