<div class="post">
    <div class="post__header post__author">
        <img src=":40x40" alt="" class="post__author-image">
        <div class="post__author-info">
            <div class="post__author-name">Lorem ipsum.</div>
            <div class="post__time">Today 5:30 PM</div>
        </div>
    </div>
    <a href="#" class="post__preview">
        <span class="post__image-wrap">
            <img src=":450x220/ff0/999" alt="" class="post__image">
        </span>
        <div class="post__label">Lorem</div>
        <div class="post__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, facilis!</div>
    </a>
    <div class="post__footer">
        <div class="post__title">Lorem ipsum dolor.</div>
        <!--
        <div class="post__likes">
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
        -->
    </div>
</div>