@font-face{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/HelveticaNeue.woff') format('woff');
}
@font-face{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/HelveticaNeue-Light.woff') format('woff');
}
@font-face{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/HelveticaNeue-Thin.woff') format('woff');
}