.section{
    
    @extend .b-grid_centred;
    
	// elements
	&__{
		&content{
            max-width: calc($content + 4rem);
            width: 100%;
            padding: 0 2rem;
        }
        &title{
            margin: 3rem 0 1rem;
            
            font-size: calc($font__size + 1px);
            
            text-align: center;
            color: $color__font_light;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
	}
}
[class="section"]{
    flex: 1;
}