.social-links{
    
    display: flex;
    justify-content: center;
    
    margin: 2rem 0;
    
	// elements
	&__{
		&link{
	        display: block;
            
            color: inherit;
            
            &:not(:last-child){
                margin-right: 2rem;
            }
            
            svg{
                size: 44px;
            }
        }
	}
}