<div class="social-links">
    <a href="https://instagram.com/mystroapp" class="social-links__link">
        <svg>
            <use xlink:href="#social-instagram"/>
        </svg>
    </a>
    <a href="https://facebook.com/mystroapp" class="social-links__link">
        <svg>
            <use xlink:href="#social-facebook"/>
        </svg>
    </a>
    <a href="https://twitter.com/mystroapp" class="social-links__link">
        <svg>
            <use xlink:href="#social-twitter"/>
        </svg>
    </a>
    <a href="http://mystroapp.com" class="social-links__link">
        <svg>
            <use xlink:href="#social-mystro"/>
        </svg>
    </a>
</div>