.g-svg{
    
    position: absolute;
    
    &__{
        &social{
            circle{
                stroke: currentColor;
                fill: none;
            }
            text,
            path{
                fill: currentColor;
            }
        }
        &search{
            fill: currentColor;
        }
    }
}