<svg class="g-svg" width="0" height="0">
    <symbol class="g-svg__social" id="social-facebook" viewBox="0 0 44 44">\
        <circle cx="22" cy="22" r="21"/>
        <path d="M24 35V22h4v-4h-4v-4c0-1.028 2-1 2-1h2V9h-7s-.67.506-1 1c-.338.506-1 2-1 2v6h-3v4h3v13h5z"/>
    </symbol>
    <symbol class="g-svg__social" id="social-instagram" viewBox="0 0 44 44">
        <circle cx="22" cy="21" r="21"/>
        <path d="M30.875 30.656h-18.75c-.43 0-.78-.35-.78-.78v-11.72h3.124c-.408.586-.546 1.68-.546 2.373 0 4.182 3.412 7.586 7.605 7.586 4.193 0 7.604-3.404 7.604-7.587 0-.695-.098-1.77-.603-2.374h3.126v11.72c0 .43-.35.78-.78.78m-9.347-14.923c2.654 0 4.807 2.147 4.807 4.796 0 2.648-2.153 4.796-4.808 4.796-2.656 0-4.808-2.148-4.808-4.797 0-2.65 2.152-4.797 4.807-4.797m6.22-4.608h2.344c.43 0 .78.35.78.78v2.345c0 .43-.35.78-.78.78H27.75c-.43 0-.78-.35-.78-.78v-2.344c0-.43.35-.78.78-.78M31.028 8H11.972C10.33 8 9 9.327 9 10.965v19.07C9 31.673 10.33 33 11.972 33h19.056C32.67 33 34 31.673 34 30.035v-19.07C34 9.327 32.67 8 31.028 8"/>
    </symbol>
    <symbol class="g-svg__social" id="social-twitter" viewBox="0 0 44 44">
        <circle cx="22" cy="22" r="21"/>
        <path d="M34.65 12.986c-.926.422-1.923.707-2.97.834 1.07-.655 1.89-1.694 2.275-2.932-1 .607-2.105 1.048-3.285 1.285-.94-1.03-2.286-1.673-3.774-1.673-2.853 0-5.168 2.374-5.168 5.3 0 .417.045.82.133 1.21-4.295-.223-8.104-2.33-10.656-5.542-.445.785-.7 1.697-.7 2.668 0 1.838.913 3.46 2.3 4.412-.845-.026-1.644-.267-2.342-.66v.064c0 2.57 1.782 4.713 4.15 5.198-.435.124-.892.187-1.364.187-.332 0-.658-.032-.973-.094.658 2.105 2.566 3.638 4.83 3.68-1.77 1.422-4 2.27-6.42 2.27-.42 0-.83-.024-1.235-.073 2.288 1.502 5.007 2.38 7.925 2.38 9.51 0 14.71-8.077 14.71-15.083 0-.23-.004-.46-.013-.687 1.01-.748 1.887-1.68 2.578-2.744"/>
    </symbol>
    <symbol class="g-svg__social" id="social-mystro" viewBox="0 0 44 44">
        <circle cx="22" cy="22" r="21"/>
        <path d="M18.534 31.96c-.21.386 0 0 0 0-.734.888.004 1.608 1.668 1.608h2.542c1.656 0 2.24-1.1 1.89-1.608l-.333-1.442 7.545.04c1.65.01 3.002-1.33 3.017-2.988l.113-12.565v-1.01c0-1.654-1.338-2.995-3.003-2.995h-20.97C9.345 11 8 12.345 8 13.994V27.58c0 1.653 1.343 2.987 2.998 2.98l7.87-.042s-.078.974-.334 1.442zM9.054 14h24.783v12.915H9.053V14zm12.364 15.687c.306 0 .554-.248.554-.555 0-.306-.248-.554-.554-.554-.307 0-.555.248-.555.554 0 .307.248.555.555.555z" fill="#FFF"/>
    </symbol>
    <symbol class="g-svg__search" id="search" viewBox="0 0 38 40">
        <path d="M23.335 27.693c-2.438 1.932-5.468 3.076-8.75 3.076C6.528 30.77 0 23.88 0 15.384 0 6.888 6.53 0 14.584 0c8.054 0 14.583 6.888 14.583 15.385 0 3.463-1.085 6.66-2.916 9.23L37.92 36.924 35 40 23.336 27.693zm-8.75 0c6.442 0 11.666-5.51 11.666-12.308S21.028 3.077 14.585 3.077c-6.444 0-11.667 5.51-11.667 12.308 0 6.797 5.223 12.307 11.667 12.307z"/>
    </symbol>
</svg>