.search-results{
	// elements
	&__{
		&title{
	        text-align: center;
            text-transform: uppercase;
            font-weight: 700;
        }
        &words{
            margin-top: 1.5rem;
	        text-align: center;
            text-transform: uppercase;
            font-size: 3rem;
            letter-spacing: 3px;
        }
	}
}